version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: dockerfile
    volumes:
      - ./:/app # mount code vào container → không cần rebuild
      - go_cache:/go # cache để không phải download deps nhiều lần
    ports:
      - "8080:8080"
    environment:
      - CGO_ENABLED=0
    command: air

volumes:
  go_cache:
